@value makerBlack,makerWhite from '../../common/colors.css';

.form {
  display: flex;
  width: 100%;
  /*아이템이 너비가 넣음녀 한줄에 하나씩 떨어질 수 있게 wrap*/
  flex-wrap: wrap;
  border-top: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
  margin-bottom: 1em;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid makerBlack;
  border-right: 1px soild makerBlack;
  background: makerWhite;
}
